.navbar {
    width: rem(90);
    height: 100vh;
    inset: 0;
    position: fixed;
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;

    background-color:light-dark(
        var(--mantine-color-gray-3),
        var(--mantine-color-gray-8),
    )
}

.link {
    padding: 0;
    width: rem(55) !important;
    height: rem(55) !important;
    color: light-dark(
        var(--mantine-color-gray-7),
        var(--mantine-color-dark-0),
    ) !important
}

.link:hover{
    background-color:
    light-dark(
        var(--mantine-color-gray-2),
        var(--mantine-color-dark-5),
    ) !important
} 